version: "3.3"
services:
  database:
    build: ./database
    volumes:
      - "test-db-data:/var/lib/mysql"
    networks:
      - database
    environment:
      - MYSQL_DATABASE=${DB}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
      - BACKUP_HOST=${BACKUP_HOST}
      - BACKUP_USER=${BACKUP_USER}
      - BACKUP_PASS=${BACKUP_PASS}

  mockupdb:
    build: ./mockupdb
    volumes:
      - "mockup-data:/var/lib/mysql"
    networks:
      - database
    environment:
      - MYSQL_DATABASE=${A801_DB}
      - MYSQL_USER=${A801_USER}
      - MYSQL_PASSWORD=${A801_PASS}

  updater:
    build: ./updater
    command: ["pypy3", "-u", "/src/start.py"]
    depends_on:
      - database
      - mockupdb
    networks:
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - A801
      - A801_IP
      - A801_USER
      - A801_PASS
      - BATCH_SIZE
      - PIPE_SIZE

  redis:
    build: ./redis
    command: [
      "/bin/sh", "-c",
      "chown -R redis /tmp/docker && redis-server /etc/redis/redis.conf"
    ]
    networks:
      - infrastructure
      - database
    volumes:
      - "test-redis-data:/data"
      - "test-redis-index:/data-rank"
      - "./redis/redis.conf:/etc/redis/redis.conf"
      - "test-redis-socket:/tmp/docker"
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - INDEX_SAVE=/data-rank/index_%s_%d.bin

  account:
    build: ./account
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
      - database
    networks:
      - infrastructure
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - WORKERS=1

  auth:
    build: ./auth
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
      - database
    networks:
      - infrastructure
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - TICKET_API
      - HASH_WORKERS=1
      - WORKERS=1

  changelogs:
    build: ./changelogs
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
      - database
    networks:
      - infrastructure
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - WORKERS=1

  dressroom:
    build: ./dressroom
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
    networks:
      - infrastructure
    environment:
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - WORKERS=1

  lookup:
    build: ./lookup
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
      - database
    networks:
      - infrastructure
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - WORKERS=1

  profile:
    build: ./profile
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
      - database
    networks:
      - infrastructure
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - WORKERS=1

  naming:
    build: ./naming
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
      - database
    networks:
      - infrastructure
      - database
    environment:
      - DB
      - DB_IP
      - DB_USER
      - DB_PASS
      - NAME_WEBHOOK
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - WORKERS=1

  router:
    build: ./router
    volumes:
      - "./shared:/src/shared"
      - "test-redis-socket:/tmp/docker"
    depends_on:
      - redis
    networks:
      - router
      - infrastructure
    environment:
      - INFRA_ADDR
      - INFRA_RECONNECT
      - INFRA_PING_DELAY
      - INFRA_PING_TIMEOUT
      - SESSION_KEY
      - REFRESH_KEY
      - GITHUB_SECRET
      - WORKERS=1

  nginx:
    build: ./nginx
    depends_on:
      - router
    networks:
      - router
      - frontend
    ports:
      - "80:80"

volumes:
  test-db-data:
  mockup-data:
  test-redis-data:
  test-redis-index:
  test-redis-socket:

networks:
  database:
  infrastructure:
  router:
  frontend:
    external: true
